extends layout

block content
  .container.marketing
    // Three columns of text below the carousel

block script  
  script.
    $(document).ready(function(){
      cargarActividades();
      
      function cargarActividades(){
        var cadena='';
        $.ajax({
          type:"GET",
          dataType: "json",
          cache:false,
          url: "/apis/newEven",
        }).done(function( data){
          //alert(data.Eventos_disponibles[1].ID_EVENTO)
            cadena='<div class="row">';
            var num_act=(data.Eventos_disponibles.length);
            if(num_act>=18)
              num_act=18;
            for (var i = 0; i < num_act ; i++) {
              var idact=data.Eventos_disponibles[i].ID_EVENTO;
              var nombre=data.Eventos_disponibles[i].NOMBRE;
              var img=data.Eventos_disponibles[i].IMAGEN;
              var fec=data.Eventos_disponibles[i].FECHA;
              var aforo=data.Eventos_disponibles[i].AFORO;
              //alert(JSON.stringify(data.Eventos_disponibles));
              //alert(data.Eventos_disponibles.length);

              cadena +=' <div class="col-lg-4">'+
                            '<img class="rounded-circle" src="/images/'+ img +'" alt="'+nombre+'" width="140" height="140">'+
                            '<h4>'+ nombre +'</h4>'+
                            '<p></p>'+
                            '<p><a class="btn btn-secondary" href="/masinfo?id='+idact+'" role="button">Más detalles &raquo;</a></p>'+
                        '</div><!-- /.col-lg-4 -->';    
              if((i+1)%3==0 && i!=num_act-1){
                cadena+='</div><div class="row">';}
              if(i==num_act-1){
                cadena+='</div>'}
            }  
              $(".container.marketing").append(cadena);            
          });
        };    
    });
